 <div class="panel-header panel-header-sm">
 </div>
 <div id="divCheckbox" style="display: none;">
     {% if page %}
     <label id="page">{{ page|safe }}</label>
     {% endif %}
 </div>
<div class="content">
<div class="row">
    <div class="col-md-8">
    <div class="card">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    <div class="card-header">
        <h4 class="card-title">Fleet Deployment</h4>
    </div>
    <div class="card-body">
        <form role="form" method="post" action="">
            {{ form.hidden_tag() }}

            <div class="row">
                <div class="col-md-1 pr-1"></div>

                <div class="col-md-3 pr-1">
                    <div class="form-group">
                        <label>Fleet</label>
                    </div>
                </div>

                <div class="col-md-6 pr-1">
                    <div class="form-group">
                        {{ form.application(placeholder="Application", class="form-control") }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1 pr-1"></div>

                <div class="col-md-3 pr-1">
                    <div class="form-group">
                        <label>Image</label>
                    </div>
                </div>

                <div class="col-md-6 pr-1">
                    <div class="form-group">
                        {{ form.image(placeholder="Image", class="form-control") }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1 pr-1"></div>
                <div class="col-md-2 pr-1">
                    <button type="submit" class="btn btn-fill btn-primary">Deploy</button>
                </div>
            </div>
        </form>

    </div>
    </div>
    </div>
</div>
</div>