
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Device Settings</h4>
              </div>
              <div class="card-body">
                   <div class="container">
			   <div class="row">
				   <div class="col-md-4">
					   <button type="button" class="btn btn-primary">Raspberry Pi</button>
				   </div>
				   <div class="col-md-4">
					   <button type="button" class="btn btn-primary">Nvidia Jetson</button>
				   </div>
				   <div class="col-md-4">
					   <button type="button" class="btn btn-primary">Intel Edison</button>
				   </div>
			   </div>
			   <div class="row">
				   <div class="col-md-12">
					   <textarea class="form-control mt-5" rows="10" id="comment">
					   Hello
					   </textarea>
				   </div>
			   
			   </div>
		   </div>


              </div>
            </div>
          </div>



          <div class="col-md-12">
            <div class="card card-plain">
              <div class="card-header">
                <h4 class="card-title"> Table on Plain Background</h4>
                <p class="category"> Here is a subtitle for this table</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

