<div class="panel-header panel-header-sm">
 </div>
 <div id="divCheckbox" style="display: none;">
     {% if page %}
     <label id="page">{{ page|safe }}</label>
     {% endif %}
 </div>
<div class="content">
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Settings</h4>
                </div>
                <div class="card-body">
                        <form role="form" method="post" action="">
                            {{ form.hidden_tag() }}
                            <div class="row">
                                <div class="col-md-1 pr-1"></div>

                                <div class="col-md-3 pr-1">
                                    <div class="form-group">
                                        <label>Device</label>
                                    </div>
                                </div>

                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        {{ form.device(placeholder="Device", class="form-control") }}
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-1 pr-1"></div>
                                <div class="col-md-2 pr-1">
                                {{ form.submit1(class="btn btn-fill btn-primary") }}
                                </div>
                            </div>
                            <!--
                            <div class="row">
                                <div class="col-md-1 pr-1"></div>
                                <div class="col-md-2 pr-1">
                                    <button type="submit" class="btn btn-fill btn-primary">Show</button>
                                </div>
                            </div>-->
                        </form>
                    {% if msg %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                            <th>
                                Id
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Value
                            </th>
                            </thead>
                            <tbody>
                            {% for envvar in msg %}
                            <tr>
                                <td>
                                    {{ envvar.id }}
                                </td>
                                <td>
                                    {{ envvar.name }}
                                </td>
                                <td>
                                    {{ envvar.value }}
                                </td>
                            </tr>
                                  {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!--ADD SETTINGS CARD-->
       <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Add Settings</h4>
                </div>
                <div class="card-body">
                      <form role="form" method="post" action="">

                          {{ settings.hidden_tag() }}

                          <div class="row">
                              <div class="col-md-1 pr-1"></div>
                              <div class="col-md-3 pr-1">
                                  <div class="form-group">
                                      <label>Device Settings</label>
                                  </div>
                              </div>

                               <div class="col-md-6 pr-1">
                                      <div class="form-group">
                                          
                                          {{ settings.device(placeholder="Device", class="form-control") }}

                                      </div>
                               </div>
                          </div>

                          <div class="row">
                              <div class="col-md-1 pr-1"></div>

                              <div class="col-md-3 pr-1">
                                  <div class="form-group">
                                      <label>Name</label>
                                  </div>
                              </div>

                              <div class="col-md-6 pr-1">
                                  <div class="form-group">
                                  {{ settings.envvar(placeholder="Envvar", class="form-control") }}
                                  </div>
                              </div>

                          </div>

                          <div class="row">
                               <div class="col-md-1 pr-1"></div>
                               <div class="col-md-3 pr-1">
                                   <div class="form-group">
                                       <label>Value</label>
                                   </div>
                               </div>
                               <div class="col-md-6 pr-1">
                                   <div class="form-group">
                                       {{ settings.value(placeholder="Value", class="form-control") }}
                                   </div>
                               </div>
                          </div>

                          <!--
                          <div class="row">
                              <div class="col-md-1 pr-1"></div>
                              <div class="col-md-2 pr-1">
                                  <button type="submit" class="btn btn-fill btn-primary">Set</button>
                              </div>
                          </div>
                          -->

                          <div class="row">
                              <div class="col-md-1 pr-1"></div>
                              <div class="col-md-2 pr-1">
                                  {{ settings.submit2(class="btn btn-fill btn-primary") }}
                              </div>
                          </div>
                          
                      </form>
                </div>
            </div>
       </div>
        </div>
    <!--REMOVE SETTINGS CARD-->
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Remove Settings</h4>
                </div>
                <div class="card-body">
                    <form role="form" method="post" action="">

                        {{ removesettings.hidden_tag() }}

                        <div class="row">
                            <div class="col-md-1 pr-1"></div>

                            <div class="col-md-3 pr-1">
                            <div class="form-group">
                                <label>Id</label>
                            </div>
                            </div>


                            <div class="col-md-6 pr-1">
                            <div class="form-group">
                                    {{ removesettings.id(placeholder="Id", class="form-control") }}
                            </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-1 pr-1"></div>
                            <div class="col-md-2 pr-1">
                                {{ removesettings.submit3(class="btn btn-fill btn-primary") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--UPDATESETTINGS-->
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Update Settings</h4>
                </div>
                <div class="card-body">
                    <form role="form" method="post" action="">

                        {{ updatesettings.hidden_tag() }}

                        <div class="row">
                            <div class="col-md-1 pr-1"></div>

                            <div class="col-md-3 pr-1">
                            <div class="form-group">
                                <label>Id</label>
                            </div>
                            </div>


                            <div class="col-md-6 pr-1">
                            <div class="form-group">
                                    {{ updatesettings.id(placeholder="Id", class="form-control") }}
                            </div>
                            </div>
                        </div>

                        <div class="row">
                               <div class="col-md-1 pr-1"></div>
                               <div class="col-md-3 pr-1">
                                   <div class="form-group">
                                       <label>Value</label>
                                   </div>
                               </div>
                               <div class="col-md-6 pr-1">
                                   <div class="form-group">
                                       {{ updatesettings.value(placeholder="Value", class="form-control") }}
                                   </div>
                               </div>
                          </div>


                        <div class="row">
                            <div class="col-md-1 pr-1"></div>
                            <div class="col-md-2 pr-1">
                                {{ updatesettings.submit4(class="btn btn-fill btn-primary") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--RENAME DEVICE-->
    <div class="row">
        <div class="col-md-10">
            <div class="card">
            <div class="card-header">
                <h4 class="card-title">Rename Device</h4>
            </div>
            <div class="card-body">
                <form role="form" method="post" action="">
                    {{ renamedevice.hidden_tag() }}
                    <div class="row">
                        <div class="col-md-1 pr-1"></div>

                        <div class="col-md-3 pr-1">
                            <div class="form-group">
                                <label>Device</label>
                            </div>
                        </div>

                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                {{ renamedevice.device(placeholder="Device", class="form-control") }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1 pr-1"></div>

                        <div class="col-md-3 pr-1">
                            <div class="form-group">
                                <label>New Name</label>
                            </div>
                        </div>

                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                {{ renamedevice.newname(placeholder="New Name", class="form-control") }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1 pr-1"></div>
                        <div class="col-md-2 pr-1">
                            {{ renamedevice.submit5(class="btn btn-fill btn-primary") }}
                        </div>
                    </div>


                </form>
            </div>
        </div>
        </div>
    </div>
</div>