
      <footer class="footer">
        <div class="container-fluid">
          <nav>
            <ul>
              <li>
                <a href="https://www.a-star.edu.sg/iiot">
                  INDUSTRIAL INTERNET-OF-THINGS INNOVATION (I³)
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright" id="copyright">
            &copy; <a href="https://www.a-star.edu.sg/iiot" target="_blank">WP5</a>
          </div>
        </div>
      </footer>

