
    <div class="sidebar" data-color="orange">
      <!-- Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow" -->
      <div class="logo">
        <a href="https://www.a-star.edu.sg/iiot" class="simple-text logo-mini">
          <h3>I³</h3>
        </a>
        <a href="https://www.a-star.edu.sg/iiot" class="simple-text logo-normal">
          Device Provisioning
        </a>
      </div>
      {% if current_user.is_authenticated %}
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <!--		
          <li class="active ">
            <a href="/">
              <i class="now-ui-icons design_app"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="/icons.html">
              <i class="now-ui-icons education_atom"></i>
              <p>Icons</p>
            </a>
          </li>
          <li>
            <a href="/notifications.html">
              <i class="now-ui-icons ui-1_bell-53"></i>
              <p>Notifications</p>
            </a>
          </li>
          <li>
            <a href="/user.html">
              <i class="now-ui-icons users_single-02"></i>
              <p>User Profile</p>
            </a>
          </li>
	  -->
          <li id="DeploymentStatus">
            <a href="{{ url_for('index', path='device-status.html') }}">
              <i class="now-ui-icons design_bullet-list-67"></i>
              <p>Deployment Status</p>
            </a>
          </li>

          <li id="ApplicationDeployment">
              <a href="{{ url_for('index', path='app-deployment.html') }}">
              <i class="now-ui-icons education_atom"></i>
              <p>Fleet Deployment</p>
            </a>
          </li>

          <li id="DeviceEnvVars">
               <a href="{{ url_for('index', path='device-env-vars.html') }}">
               <i class="now-ui-icons ui-2_settings-90"></i>
               <p>Device Settings</p>
             </a>
          </li>

          <li id="DeviceOperations">
              <a href="{{ url_for('index', path='device-operation.html') }}">
              <i class="now-ui-icons media-1_button-pause"></i>
              <p>Device Operation</p>
            </a>
          </li>
          <!--
          <li>
            <a href="/tables3.html">
              <i class="now-ui-icons text_caps-small"></i>
              <p>Devices</p>
            </a>
          </li>
          -->
          <li>
            <a href={{ url_for('logout') }}>
              <i class="now-ui-icons media-1_button-power"></i>
              <p>Logout</p>
            </a>
          </li>
          <!--
          <li class="active-pro">
            <a href="https://appseed.us">
              <i class="now-ui-icons objects_spaceship"></i>
              <p>AppSeed</p>
            </a>
          </li>
          -->
        </ul>
      </div>
      {% endif %}
    </div>

